@model User

﻿@{
    ViewData["Title"] = "Dashboard";
}

<style>
    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.1s ease-out;
    }

     /* body {
            background-image: url(~/lib/cubert/finn.png);
            background-repeat: no-repeat;
            background-size:100% 100%;
    }  */
</style>
<center>
    <div @* style="background-image: url(~/lib/cubert/finn.png); background-repeat:no-repeat; background-size:100% 100%" *@>
<h1>Hi, <b>@Model.FirstName</b>!</h1>

<hr />
<div>
    <h4><b>Full name</b></h4>
    <p>@Model.FirstName @Model.LastName</p>
</div>
<div>
    <h4><b>Date of birth</b></h4>
            <p>@Model.DateOfBirth.Day&#46;@Model.DateOfBirth.Month&#46;@Model.DateOfBirth.Year</p> @* very yanderedev type of code i know but it'll stay like that for now *@
</div>
<div>
    <h4><b>Email</b></h4>
    <button class="damail">Click for email</button>
	<div class="panel">
		<p>@Model.Email</p>
	</div>
</div><br />
<div>
    <h4><b>Phone number</b></h4>
    <button class="dafoam">Click for phone number</button>
    <div class="panel">
        <p>@Model.PhoneNumber</p>
    </div>
</div>
    <hr />
        <div>
            <form asp-controller="User" asp-action="ChangePassword">
                <button type="submit" class="action-btn btn btn-primary">Change Password</button>
            </form>
        </div><br />

        <div>
            <form asp-controller="User" asp-action="ChangeEmail">
                <button type="submit" class="action-btn btn btn-primary">Change Email</button>
            </form>
        </div>

        <br /><br />
        <div>
            <form asp-action="DeleteUser" asp-route-id="@Model.Id" method="post" style="display:inline;">
                <button type="submit" class="action-btn btn btn-danger" onclick="return confirm('Are you sure you want to delete your account?');">DELETE THIS ACCOUNT</button>
            </form>
        </div>
	</div>
</center>

<script defer>
    var foam = document.getElementsByClassName("dafoam");
    var male = document.getElementsByClassName("damail");
    var i;

    for (i = 0; i < foam.length; i++) {
      foam[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
          // foam.textContent = 'Click to reveal your phone number';
          foam.innerText = "Click to reveal your phone number"
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
          foam.innerText = "Click to hide your phone number";
        }
      });
    }

    for (i = 0; i < male.length; i++) {
      male[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
          male.innerText = 'Click to reveal your email address';
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
          male.innerText = 'Click to hide your email address';
        }
      });
    }
</script>
 
        @* this sucks on ice *@