@model User

﻿@{
    ViewData["Title"] = "Dashboard";
}

<style>
    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.1s ease-out;
    }
</style>
<center>
    <div>
<h1>Hi, <b>@Model.FirstName</b>!</h1>

<hr />
<div>
    <h4><b>Full name</b></h4>
    <p>@Model.FirstName @Model.LastName</p>
</div>
<div>
    <h4><b>Date of birth</b></h4>
    <p>@(Model.DateOfBirth?.ToString("dd.MM.yyyy") ?? "N/A")</p> @* Fixed yer yandev code *@
</div>
<div>
    <h4><b>Email</b></h4>
    <button class="accordion" id="showemailbtn">Click for email</button>
	<div class="panel">
		<p>@Model.Email</p>
	</div>
</div><br />
@* @if (Model.DateOfBirth != null)
{ *@
    <div>
        <h4><b>Phone number</b></h4>
                    <button class="accordion" id="showphonebtn">Click for phone number</button>
        <div class="panel">
            <p>@(Model.PhoneNumber ?? "N/A")</p>
        </div>
    </div>
@* } *@
    <hr />
        <div>
            <form asp-controller="User" asp-action="ChangePassword">
                <button type="submit" class="action-btn btn btn-primary" id="changepasswordbtn">Change Password</button>
            </form>
        </div><br />

        <div>
            <form asp-controller="User" asp-action="ChangeEmail">
                <button type="submit" class="action-btn btn btn-primary">Change Email</button>
            </form>
        </div>

        <br /><br />
        <div>
            <form asp-action="DeleteUser" asp-route-id="@Model.Id" method="post" style="display:inline;">
                <button type="submit" class="action-btn btn btn-danger" onclick="return confirm('Are you sure you want to delete your account?');">DELETE THIS ACCOUNT</button>
            </form>
        </div>
	</div>
</center>

<script defer>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        }
      });
    }
</script>
 
        @* this sucks on ice *@