@model User

﻿@{
    ViewData["Title"] = "Dashboard";
}

<h1>Hi, <b>@Model.FirstName</b>!</h1>

<hr />
<div>
    <h4><b>Full name</b></h4>
    <p>@Model.FirstName @Model.LastName</p>
</div>
<div>
    <h4><b>Year of birth</b></h4>
    <p>@Model.DateOfBirth.Year</p>
</div>
<div>
    <h4><b>Email</b></h4>
    <button class="accordion">Click to reveal your email address</button>
	<div class="panel">
		<p>@Model.Email</p>
	</div>
</div><br />
<div>
    <h4><b>Phone number</b></h4>
    <button class="accordion">Click to reveal your phone number</button>
    <div class="panel">
        <p>@Model.PhoneNumber</p>
    </div>
</div>

<style>
    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
</style>

<script defer>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        }
      });
    }
</script>
 
        @* this sucks on ice *@