@model FinanceProject.Models.Invoice
@{
    ViewData["Title"] = "Details";
}

<div class="text-center">
    <h1 class="display-4">@Model.Header</h1> <br>
    <a asp-action="Index">↩ Back to invoices</a>

    <div class="invoiceDetailsHolder">
        <div class="invoiceDetailHolder">
            <label>@Html.DisplayNameFor(Model => Model.Header):</label>
            <a asp-action="Edit" asp-route-id="@Model.InvoiceID" style="float: right">✍ Edit</a><br>
            <textarea disabled class="invoiceDetailValue" rows="1" cols="50">@Html.DisplayFor(Model => Model.Header)</textarea>
        </div>

        <div class="invoiceDetailHolder">
            <label>@Html.DisplayNameFor(Model => Model.Description):</label><br>
            <textarea disabled class="invoiceDetailValue" rows="4" cols="50">@Html.DisplayFor(Model => Model.Description)</textarea>
        </div>

        <div class="invoiceDetailHolder">
            <label>@Html.DisplayNameFor(Model => Model.Amount):</label><br>
            @if (Model.Amount > 0)
            {
                <textarea disabled class="invoiceDetailValue" rows="1" style="color: green; font-weight: bold">+@Html.DisplayFor(Model => Model.Amount)€</textarea>
            }
            else
            {
                <textarea disabled class="invoiceDetailValue" rows="1" style="color: red; font-weight: bold">@Html.DisplayFor(Model => Model.Amount)€</textarea>
            }
        </div>

        <div class="invoiceDetailHolder">
            <label>@Html.DisplayNameFor(Model => Model.InvoiceCategory):</label><br>
            <textarea disabled class="invoiceDetailValue" rows="1">@Html.DisplayFor(Model => Model.InvoiceCategory)</textarea>
        </div>

        <div class="invoiceDetailHolder">
            <label>@Html.DisplayNameFor(Model => Model.InvoiceDate):</label><br>
            <textarea disabled class="invoiceDetailValue" rows="1">@Html.DisplayFor(Model => Model.InvoiceDate)</textarea>
        </div>
        <div><a asp-action="Delete" asp-route-id="@Model.InvoiceID" id="deleteButton">Delete</a></div>
    </div>
</div>