@model IEnumerable<FinanceProject.Models.Invoice>
@{
    ViewData["Title"] = "Invoice history";
}

<div class="text-center">
    <h1 class="display-4">Invoices</h1> <br>

    <div>
        <a asp-action="Create" id="addinvoicebtn">✎ Add new invoice</a>
    </div>
</div>

<div>
    <div>
        <h1>Invoice history</h1>
        <label> Sort by category:</label>
        <select id="categorySelect">
            <option class="categoryOption">All</option>
            @foreach (var category in Enum.GetValues(typeof(InvoiceCategories)))
            {
                <option class="categoryOption">@category</option>
            }
        </select>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(Model => Model.Header)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.InvoiceCategory)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.InvoiceDate)
                </th>
                <th>
                    Details
                </th>
            </tr>
        </thead>
        <tbody id="invoiceHistoryContent">
            @foreach (var item in Model.Reverse())
            {
                <tr class="invoiceContentRow">
                    <td style="width: 25%; max-width: 25%">
                        <button class="collapseButton">▼</button>
                        @Html.DisplayFor(i => item.Header)

                        <div class="hiddenContent" style="display: none">
                            <label style="font-weight: bold">Description</label><br>
                            @Html.DisplayFor(i => item.Description)
                        </div>
                    </td>
                    <td>
                        @if (item.Amount > 0)
                        {
                            <span id="positiveValue">+@item.Amount.ToString("N2")€</span>
                        }
                        else
                        {
                            <span id="negativeValue">@item.Amount.ToString("N2")€</span>
                        }
                    </td>
                    <th>
                        @Html.DisplayFor(Model => item.InvoiceCategory)
                    </th>
                    <td>
                        @Html.DisplayFor(i => item.InvoiceDate)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.InvoiceID" id="detailsbtn">More Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelectorAll(".collapseButton").forEach(button => {
                button.addEventListener("click", () => {
                    const target = button.parentElement.querySelector(".hiddenContent");

                    if (target.style.display == "none") {
                        target.style.display = "block";
                        button.textContent = "▲";
                    } else {
                        target.style.display = "none";
                        button.textContent = "▼";
                    }
                });
            });

            document.getElementById("categorySelect").addEventListener("change", e =>{
                const selectedCategory = document.getElementById("categorySelect").value;
                const rows = document.querySelectorAll(".invoiceContentRow");

                rows.forEach(row => {
                    const rowCategory = row.querySelector("th").innerHTML.trim();
                    console.log(rowCategory);
                    console.log(selectedCategory);

                    if (selectedCategory == "All" || rowCategory == selectedCategory)
                    {
                        row.style.display = "";
                    }
                    else
                    {
                        row.style.display = "none";
                    }
                });
            });
        });
    </script>
}