@model IEnumerable<FinanceProject.Models.Invoice>
@{
    ViewData["Title"] = "Transaction history";
}

<div class="text-center">
    <h1 class="display-4">Transaction history</h1> <br />
</div>

<div>
    <h1>Invoices</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(Model => Model.Header)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.InvoiceDate)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(i => item.Header)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.Amount)€
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.InvoiceDate)
                    </td>
                    <td>
                        <a asp-action="Details">More Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>