@model IEnumerable<FinanceProject.Models.User> 
@using FinanceProject.Models
@{
    var sortBy = ViewBag.SortBy as SortUsersBy?;
}


@* Practically Serves Absolutely NO PURPOPOSSEESSBecause how the duckx do i see if a user is active if me use localdb, though it does show admin as inactive despite being logged in
    , will investiage later *@
<h2>Currently active Users</h2>
<table>
    <tr>
        <th>User ID</th>
        <th>FirstName</th>
		<th>LastName</th>
        <th>Email</th>
        <th>Account Created on</th>
        <th>Sort by</th>
    </tr>
    @foreach (var user in Model.Where(i => i.IsActive))
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Email</td>
            <td>@user.CreatedAt<td/>
            <td>
                <a asp-action="UserDetails" asp-route-id="@user.Id" class="action-btn btn btn-info">Details</a>
                <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post" style="display:inline;">
                    <button type="submit" class="action-btn btn btn-danger" onclick="return confirm('Are you sure you want to delete this user?');">Delete</button>
                </form>
            </td>
        </tr>
    }
</table>

<h2>Currently Inactive Users</h2>
<table>
    <tr>
        <th>User ID</th>
        <th>FirstName</th>
		<th>LastName</th>
        <th>Email</th>
        <th>Account Created on</th>
           <form asp-action="UserManaging" method="get" style="margin-bottom:1em;">
            <label>Sort users by:</label>
            <select name="sortBy" onchange="this.form.submit()">
                <option value="">All</option>
                @foreach (SortUsersBy category in Enum.GetValues(typeof(SortUsersBy)))
                {
                    <option value="@category" @(sortBy == category ? "selected" : "")>@category</option>
                }
            </select>
        </form>
    </tr>
    @foreach (var user in Model.Where(i => !i.IsActive))
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Email</td>
            <td>@user.CreatedAt
            <td />
            <td>
                <a asp-action="UserDetails" asp-route-id="@user.Id" class="action-btn btn btn-info">Details</a>
                <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post" style="display:inline;">
                    <button type="submit" class="action-btn btn btn-danger" onclick="return confirm('Are you sure you want to delete this user?');">Delete</button>
                </form>
                <form asp-action="ChangeRole" asp-route-id="@user.Id" method="post" style="display:inline;">
                    <button type="submit" class="action-btn btn btn-danger">Make Admin</button>
                </form>
            </td>
        </tr>
    }
</table>

